html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.top-header {
  display: block;
  height: 50px;
  background-color: #1abc9c;
}

.user-nav,
.sait-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  height: 50px;
}
.sait-nav {
  height: 90px;
  /* background-color: red; */
}
.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-link {
  font-weight: 300;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 11;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

/* .nav-linkt:last-child {
  padding-right: 0;
} */
.nav-phone,
.nav-mail {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  font-family: "Open Sans";
  margin-right: 30px;
}

.nav-phone::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../image/phone1.png");
  background-position: center;
  background-size: auto;
  padding-right: 8px;
  background-repeat: no-repeat;
}

.nav-mail::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../image/mail.png");
  background-position: center;
  background-size: auto;
  padding-right: 18px;
  background-repeat: no-repeat;
}

.sait-logo {
  font-weight: 300;

  font-family: "Open Sans";
  font-size: 30px;
  line-height: 1.067;
  color: #555252;
  text-decoration: none;
}
.sait-logo::first-letter {
  color: rgb(26, 188, 156);
}

.user-nav a {
  color: rgb(254, 254, 254);
  text-decoration: none;
}
.sait-nav a {
  text-transform: uppercase;
  color: #0f0101;
  font-weight: bold;
}
.sait-nav a:hover {
  color: rgb(26, 188, 156);
}

.hiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 2, 0.522), rgba(0, 0, 2, 0.522)),
    url("../image/hiro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hiro-text-1,
.hiro-text-2,
.hiro-color-text {
  margin: 0;
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(255, 252, 252);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}

.hiro-text-1,
.hiro-color-text-1 {
  font-weight: 300;
}

.hiro-text-2,
.hiro-color-text-2 {
  font-weight: 600;
}

.hiro-color-text-1,
.hiro-color-text-2 {
  color: #1abc9c;
}
.hiro-buttom {
  width: 120px;
  height: 40px;
  border-width: 300;
  font-family: "Roboto";
  color: rgb(255, 252, 252);

  background-color: rgb(26, 188, 156);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about {
  padding-top: 95px;
  padding-bottom: 80px;
}
.about-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0;
}

.about-name-SETTING::before {
  display: block;
  content: "";
  /* max-width: 100%; */
  height: 120px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../image/setting.jpg");
}

.about-name-MONEY-BACK::before {
  display: block;
  content: "";
  width: calc(25%-30px);
  height: 120px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../image/money\ back.jpg");
}
.about-name-WORLDWIDE::before {
  display: block;
  content: "";
  width: calc(25%-30px);
  height: 120px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../image/worldwide.jpg");
}
.about-name-SHIPPING::before {
  display: block;
  content: "";
  width: calc(25%-30px);
  height: 120px;
  background-position: center;
  text-align: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../image/globus.jpg");
}

.about-descr {
  margin: 0;
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.714;
}

.about-name-SETTING,
.about-name-MONEY-BACK,
.about-name-WORLDWIDE,
.about-name-SHIPPING {
  margin: 0;
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.778;
}
