html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.top-header {
  display: block;
  height: 50px;
  background-color: #1abc9c;
}

.user-nav,
.sait-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  height: 50px;
}
.sait-nav {
  height: 90px;
  /* background-color: red; */
}
.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-link {
  display: block;
  font-weight: 300;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

/* .nav-linkt:last-child {
  padding-right: 0;
} */
.nav-phone,
.nav-mail {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-right: 30px;
}

.nav-phone::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../image/phone1.png");
  background-position: center;
  background-size: auto;
  padding-right: 8px;
  background-repeat: no-repeat;
}

.nav-mail::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../image/mail.png");
  background-position: center;
  background-size: auto;
  padding-right: 18px;
  background-repeat: no-repeat;
}

.sait-logo {
  font-weight: 300;

  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 1.067;
  color: #555252;
  text-decoration: none;
}
.sait-logo::first-letter {
  color: rgb(26, 188, 156);
}

.user-nav a {
  color: rgb(254, 254, 254);
  text-decoration: none;
}
.sait-nav a {
  text-transform: uppercase;
  color: #0f0101;
  font-weight: bold;
}
.sait-nav a:hover {
  color: rgb(26, 188, 156);
}

.hiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 2, 0.522), rgba(0, 0, 2, 0.522)),
    url("../image/hiro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hiro-text-1,
.hiro-text-2,
.hiro-color-text {
  margin: 0;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 252, 252);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}

.hiro-text-1,
.hiro-color-text-1 {
  font-weight: 300;
}

.hiro-text-2,
.hiro-color-text-2 {
  font-weight: 600;
}

.hiro-color-text-1,
.hiro-color-text-2 {
  color: #1abc9c;
}
.hiro-buttom {
  width: 120px;
  height: 40px;
  border-width: 300;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 252, 252);

  background-color: rgb(26, 188, 156);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news {
  background-color: rgb(233, 240, 253);
}

.about-list,
.news-list {
  display: flex;

  justify-content: space-between;
  align-items: left;
  margin: 0;
  padding: 0;
}

.about-item {
  text-align: center;
  width: 255px;
}

.news-item {
  flex-direction: column;
  margin-right: 30px;
}

.about-item:last-child,
.about-news:last-child {
  margin-right: 0;
}

.about-item::before {
  content: "";
  display: block;
  height: 70px;
  margin-bottom: 55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.item-SETTING::before {
  background-image: url("../image/setting.jpg");
}

.item-MONEY-BACK::before {
  background-image: url("../image/money\ back.jpg");
}
.item-WORLDWIDE::before {
  background-image: url("../image/worldwide.jpg");
}
.item-SHIPPING::before {
  background-image: url("../image/compas.jpg");
}

.news-name {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: rgb(85, 82, 82);
  /* line-height: 1.444; */
  text-align: left;
}

.news-name::after {
  display: block;
  content: "";
  width: calc(30%-30px);
  height: 5px;
  background-position-x: left;
  background-position-y: bottom;
  /* text-align: left; */
  padding-bottom: 15px;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../image/Pelement.png");
}

.about-descr,
.news-descr {
  margin: 0;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.714;
  margin-bottom: 20px;
}
.news-descr {
  text-align: left;
}
.about-name-SETTING,
.about-name-MONEY-BACK,
.about-name-WORLDWIDE,
.about-name-SHIPPING {
  margin: 0;
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.778;
}

.news-link {
  display: block;
  text-decoration: none;
  display: inline-flex;
  width: 160px;
  height: 50px;
  background-color: #4ec6ab;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 26px;
}

.news-link:hover,
.news-link:focus {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 26px;
  justify-content: center;
  color: #0f0101;
  background-color: rgb(233, 240, 253);
}
.title {
  margin: 0;
  margin-bottom: 75px;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
}

.title::after {
  display: block;
  height: 43px;
  background-position-x: center;
  background-position-y: bottom;
  content: "";
  align-items: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../image/Pelement_titel.jpg");
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.collection {
  background-color: rgb(233, 240, 253);
}

.collection-list,
.products-list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: flex;
}

.collection-item {
  margin-right: 30px;
}

.products-item {
  margin-right: 30px;
  margin-bottom: 70px;
}

.collection-link,
.products-link {
  display: block;
  position: relative;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.collection-overlay,
.products-overlay {
  height: 282px;
  position: relative;
}
.collection-link:hover .collection-overlay::before,
.products-link:hover .products-overlay::before {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 235px;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.549);
  border: 10px solid rgba(255, 255, 255, 0.7);
}

.img-collection,
.img-products {
  height: 282px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  /* object-fit: scale-down; */
}

.collection-item:nth-child(4n),
.products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.collection-inform,
.products-inform {
  display: flex;
}

.collection-item:hover .collection-name,
.collection-item:focus .collection-name,
.products-item:hover .products-name,
.products-item:focus .products-name {
  background-color: rgb(26, 188, 156);
}

.collection-item:hover .collection-price,
.collection-item:focus .collection-price,
.products-item:hover .products-price,
.products-item:focus .products-price {
  background-color: #7fd9c7;
}

.collection-name,
.products-name {
  margin: 0;
  padding-left: 15px;
  display: inline-flex;
  width: 215px;
  height: 40px;
  align-items: center;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-decoration: none;
  background-color: rgb(50, 50, 50);
}

.collection-price,
.products-price {
  margin: 0;
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-decoration: none;
  background-color: #8c8c8c;
}

.footer {
  padding-top: 105px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 460px;
  background-image: url("../image/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-title {
  font-weight: 700;
  margin: 0;
  padding: 0;

  /* padding-bottom: 35px; */
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
}

.footer-title::after {
  display: block;
  height: 15px;
  /* padding-top: 35px; */
  padding-bottom: 35px;
  background-position: center;

  content: "";
  align-items: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../image/Pelement_footer.png");
}

.footer-text {
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.625;
  font-weight: 300;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

.form {
  width: 540px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
}

.input {
  width: 446px;
  padding-left: 25px;
  height: 57px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  outline: none;
  border: none;
  position: relative;
}

.input-submit {
  width: 90px;
  height: 55px;
  position: absolute;
  background-color: white;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 2px;
  border-radius: 0px 5px 5px 0px;
  margin-bottom: 2px;
  margin-right: 2px;
  background-image: url("../image/Butt-foot-2.png"),
    url("../image/butt-foot-1.png");
  background-position: center;
}

.container-form {
  display: flex;
  justify-content: center;
  /* padding-top: 40px; */
}
